@charset "UTF-8";

#movie_info_detail {
	width: 1000px;
	color: black;
}

#movie_info_detail>div {
	border-bottom: 1px solid;
	padding-bottom: 20px;
}

#page_top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
}

#movie_poster {
	vertical-align: top;
	display: inline-block;
	width: 400px;
	margin: 0 30px;
	text-align: center;
}

#movie_poster img {
	width: 100%;
}

#movie_poster input[type=button] {
	text-align: center;
	width: 200px;
	height: 40px;
	font-size: 1em;
	line-height: 1em;
	align-content: center;
	padding: 0;
}

#movie_info {
	vertical-align: top;
	display: inline-block;
	width: 50%;
	padding-top: 20px;
}

#movie_info b {
	font-size: 45px;
}

#p01 {
	font-size: 25px;
	opacity: 0.3;
	margin: 0;
	margin-bottom: 20px;
}

#p02 {
	font-size: 18px;
	margin: 15px 0px;
}

#movie_summary {
	padding: 10px;
	height: 328px;
	overflow-y: auto;
}

#movie_trailer, #movie_stillcut {
	padding: 30px 50px;
	font-size: 30px;
}


#movie_trailer>div {
	margin: 15px 15px;
	width: 100%;
	height: 500px;
	border-radius: 30px;
}

iframe {
	border-radius: 30px;
	border: none;
}

#movie_stillcut>div {
	margin-top: 20px;
}
#movie_stillcut>div>img {
	display: inline-block;
	width: 225px;
	border-radius: 20px;
	margin-right: 15px;
}

.stillcut {
	width: 640px;
	display: inline-block;
	vertical-align: top;
}

.stillcut img {
	width: 292px;
	border-radius: 20px;
}

#movie_review {
	padding: 30px 50px;
}

#review_title {
	font-size: 30px;
	margin-bottom: 20px;
}

#movie_review table {
	text-align: center;
	margin-bottom: 10px;
}

#movie_review th {
	background-color: gray;
	border-radius: 10px;
	color: #fff;
}

#movie_review td {
	border-bottom: 1px solid;
}

#page_button_group {
	text-align: center;
}

#page_button_group input[type=button] {
	height: 30px;
	font-size: 1em;
	line-height: 1em;
	align-content: center;
	padding: 0 10px;
}