@charset "UTF-8";


#past_movie_info {
	width: 1000px;
	color: black;
}

#page_top {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

#title {
	font-size: 30px;
	font-weight: bold;
}

#page_top div {
	margin-bottom: 5px;
}

#movie_search input, #movie_search select {
	height: 30px;
}

#movie_search select{
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	height: 30px;
	width: 120px;
}

#movie_search input[type=submit] {
	font-size: 1em;
	line-height: 1em;
	padding-left: 20px;
}

#movie_search{
	display: inline-block;
}

.movie {
	margin-bottom: 20px;
	border-bottom: 1px solid;
}

.movie b:not(#movie_name) {
	font-size: 20px;	
}

#movie_name {
	font-size: 25px;
	line-height: 50px;
}

.movie img {
	width: 190px;
}

.movie_poster {
	display: inline-block;
}

.movie_info {
	width: 80%;
	padding: 0 20px 0 20px;
	vertical-align: top;
	display: inline-block;
}

.movie_info input{
	height: 30px;
	font-size: 1em;
	line-height: 1em;
	align-content: center;
	padding: 0 10px;
	float: right;
}

#page_button_group {
	text-align: center;
}

#page_button_group input[type=button] {
	height: 30px;
	font-size: 1em;
	line-height: 1em;
	align-content: center;
	padding: 0 10px;
}

form {
	display: flex;
	margin-bottom: 0;
	width: 450px;
}

form select, form input {
	margin-right: 5px;
	margin-bottom: 5px;
}









