
/* Article styling */
article.box.post {
    background-color: #fff;
    margin: 20px auto;
/*     padding: 20px; */
/*     border-radius: 10px; */
/*     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

article h2 {
    color: #666;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* List container styling */
.list-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.list-container p {
    font-size: 16px;
    margin: 10px 0;
}

.list-container strong {
    color: #444;
}

/* Unordered list styling */
.list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-container ul li {
    margin: 15px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container ul li h4 {
    color: #666;
    margin: 0 0 5px;
}

