
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
.box {
	width: 100%;
	height: 100%;
	}
#articleForm {
    background-color: #fff;
    padding: 20px;
   	width: 1075px;
	height: 500px;
	position: absolute;
	top: 50px;
	left: 300px;
}

#articleForm h1 {
    color: #666;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Table */
#basicInfoArea table {
    width: 100%;
    border-collapse: collapse;
}

#basicInfoArea th {
    background-color: #858585;
    color: #fff;
    text-align:center;
    padding: 11px 12px 11px 13px;
    border: 1px solid #ccc;
}

#basicInfoArea td {
    background-color: #f9f9f9;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}


#articleContentArea{
	padding: 27px;
}

#listButton{
	margin: 5px;
	padding: 10px;
    border: 0;
	border-radius: 8px;
	background-color:#858585;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	top: 258px;
	left: 560px; 
}

#modify-btn{
	margin: 5px;
	padding: 10px;
    border: 0;
	border-radius: 8px;
	background-color:#858585;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	top: 258px;
	left: 400px; 
}

#delete-btn{
	margin: 5px;
	padding: 10px;
    border: 0;
	border-radius: 8px;
	background-color:#858585;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	top: 258px;
	left: 480px; 
}




hr{
	border: 0;
	border-top: solid 1px #ddd;
	margin: 0em 0 2em 0;
}
#buttonTable{
	    width: 100%;
    border-collapse: collapse;
}


#postList {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc; /* 테이블 외곽 테두리 */
}

#postList th {
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc; /* 각 셀의 테두리 */
}

#postList th:first-child {
    width: 120px; /* 첫 번째 열의 너비 */
    color: gray; /* 첫 번째 열의 텍스트 색상 */
    font-weight: normal;
}

#postList th:nth-child(2) {
    font-weight: bold;
    color: black; /* 두 번째 열의 텍스트 색상 */
}

   