<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_movie.mapper.AdminManageMapper">

	<insert id="insertAccount">
	    INSERT INTO admin 
	    VALUES (
	        #{admin_id},
	        #{admin_passwd},
	        NOW(),
	        TRUE,
	        #{user_name},
	        #{member_manage},
	        #{payment_manage},
	        #{notice_board_manage},
	        #{movie_manage},
	        #{theater_manage},
	        #{vote_manage}
	    )
	</insert>
	
	<select id="selectAdminList" resultType="adminmanage">
		SELECT *
		FROM admin;
	</select>
	
	<delete id="deleteAdminAccount">
		DELETE FROM admin
		WHERE admin_id = #{id}
	</delete>
	
	<insert id="insertEventBoard">
		<selectKey keyProperty="event_code" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(event_code), 0)
			FROM event_board;
		</selectKey>
		
		INSERT INTO event_board
		VALUES(
			#{event_code}+1,
			#{event_subject},
			#{event_content},
			#{event_file1},
			#{event_file2},
			#{event_file3},
			#{event_writer},
			now(),
			#{view_count},
			#{event_status},
			#{event_start_date},
			#{event_end_date}
		)
	</insert>
	
	<select id="selectEventBoardList" resultType="eventboard">
		select *
		from event_board
		order by event_code desc
	</select>
	
	<update id="updateEventStatusStart">
		UPDATE event_board
		SET event_status = 1
		WHERE event_code = #{event_code}
	</update>
	
	<update id="updateEventStatusEnd">
		UPDATE event_board
		SET event_status = 2
		WHERE event_code = #{event_code}
	</update>
	
	<select id="getEventBoardContent" resultType="eventboard">
		SELECT *
		FROM event_board
		WHERE event_code = #{event_code}
	</select> 
	
<!-- 	<insert id="selectEventWinner"> -->
<!-- 		INSERT INTO event_winner -->
<!-- 		VALUES ( -->
		
<!-- 		) -->
<!-- 	</insert>	 -->
 </mapper>