<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_movie.mapper.BookMapper">
	
	<select id="selectMovieList" resultType="movie">
		SELECT *
		FROM movie
		WHERE movie_status = '현재상영작'
		ORDER BY movie_type
	</select>
	
	
	<select id="selectSchWithMovie" resultType="map">
		SELECT *
		FROM schedule s 
		JOIN movie m
		ON s.movie_code = m.movie_code
		WHERE DATE_FORMAT(start_time, '%Y년 %m월 %d') = #{start_time} 
		AND start_time > now()
		<if test="movie_name != ''">
			AND movie_name = #{movie_name}
		</if>
		ORDER BY movie_type, start_time
	</select>
	
	<select id="selectMovieListCheck" resultType="movie">
		SELECT *
		FROM movie
		WHERE ${columnName} = #{searchCondition}
		<if test="searchCondition2 != null">
			AND ${columnName2} = #{searchCondition2}
		</if>
	</select>
	
	<select id="selectSeat" resultType="seat">
		SELECT SUBSTR(seat_code, 4) AS seat_code
		FROM seat
		WHERE theater_code = 'T1'
		ORDER BY seat_row ASC, seat_col ASC;
	</select>
	
	<select id="selectTicketType" resultType="map">
		SELECT *
		FROM ticket
<!-- 		WHERE ticket_type = #{ticket_type} -->
	</select>
	
	
</mapper>















