<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_movie.mapper.CustomerServiceMapper">
 
 	<select id="selectNoticeListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM notice_board
 	</select>
 	<select id="selectNoticeList" resultType="notice_board">
 		SELECT *
 		FROM notice_board
		LIMIT 
			#{startRow}
			, #{listLimit}
 	</select>
 	<select id="selectNotice" resultType="notice_board">
 		SELECT *
 		FROM notice_board
 		WHERE notice_code = #{notice_code}
 	</select>
 	<update id="updateNoticeReadCount">
 		<selectKey keyProperty = "view_count" resultType="int" order="AFTER">
 			SELECT view_count
 			FROM notice_board
 			WHERE notice_code = #{notice_code}
 		</selectKey>
 		UPDATE notice_board
 		SET view_count = view_count + 1
 		WHERE notice_code = #{notice_code}
 	</update>
 	<delete id="deleteNotice">
 		DELETE 
 		FROM notice_board
 		WHERE notice_code = #{notice_code}
 	</delete>
<!--  	faq xml -->
 	<select id="selectFaqListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM faq_board
 	</select>
 	<select id="selectFaqList" resultType="faq_board">
 		SELECT *
 		FROM faq_board
		LIMIT 
			#{startRow}
			, #{listLimit}
 	</select>
 	<select id="selectFaq" resultType="faq_board">
 		SELECT *
 		FROM faq_board
 		WHERE faq_code = #{faq_code}
 	</select>
 	<update id="updateFaqReadCount">
<!--  		<selectKey keyProperty ="view_count" resultType="int" order="AFTER"> -->
<!--  			SELECT view_count -->
<!--  			FROM faq_board -->
<!--  			WHERE faq_code = #{faq_code} -->
<!--  		</selectKey> -->
 		UPDATE faq_board 
 		SET view_count = view_count + 1
 		WHERE faq_code = #{faq_code}
	</update>
 
 
 
 
 
 </mapper>