<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_movie.mapper.EventMapper">
<!--  이벤트 게시물 개수 count -->
 	<select id="selectEventListCount" resultType="int">
 		SELECT COUNT(*)
		FROM event_board 	
<!-- 검색기능을 위한 where절 추가 -->
<!-- 서치 키워드가 널스트링이 아닌경우, when절 실행 -->
<!-- 서치 타입이 제목인 경우, 게시물 제목과 서치키워드의 제목 일부가 일치한것을 출력  -->
			<if test="!searchKeyword.equals('')">
 				WHERE 
 				<choose>
 					<when test="searchType.equals('subject')">
 						event_subject LIKE CONCAT('%','{#searchKeyword}','%')
 					</when>
 					<when test="searchType.equals('content')">
 						event_content LIKE CONCAT('%','{#searchKeyword}','%')
 					</when>
 				</choose>
 			</if>
 	</select>
<!--  이벤트 게시물 시작번호 끝번호 -->
 	<select id="selectEventList" resultType="eventboard">
 		SELECT *
 		FROM event_board
			<if test="!searchKeyword.equals('')">
 				WHERE 
 				<choose>
 					<when test="searchType.equals('subject')">
 						event_subject LIKE CONCAT('%','{#searchKeyword}','%')
 					</when>
 					<when test="searchType.equals('content')">
 						event_content LIKE CONCAT('%','{#searchKeyword}','%')
 					</when>
 				</choose>
 			</if>
		LIMIT 
			#{startRow}
			, #{listLimit}
 	</select>
<!--  이벤트 게시물 눌렸을때 해당 게시글 뜨도록  -->
 	<select id="selectEvent" resultType="eventboard">
 		SELECT *
 		FROM event_board
 		WHERE event_code = #{event_code}
 	</select>
<!--  이벤트 게시물 눌렸을때 조회수 증가  -->
 	<update id="updateEventReadCount" >
 		<selectKey keyProperty = "view_count" resultType="int" order="AFTER">
 			SELECT view_count
 			FROM event_board
 			WHERE event_code = #{event_code}
 		</selectKey>
 		UPDATE event_board
 		SET view_count = view_count +1
 		WHERE event_code = #{event_code}
 	</update>
 	
 	
<!--  	이벤트 당첨자 글 갯수 -->
	<select id="selectEventWinnerCount" resultType="int">
		SELECT COUNT(*)
		FROM event_winner_board
		<if test="!searchKeyword.equals('')">
			WHERE 
			<choose>
				<when test="searchType.equals('subject')">
					winner_subject LIKE CONCAT ('%','{#searchKeyword}','%')
				</when>		
				<when test="searchType.equals('content')">
					winner_content LIKE CONCAT ('%','{#searchKeyword}','%')
				</when>	
			</choose>	
		</if>
	</select>
<!-- 	이벤트 당첨자 글 가져오기 -->
<!-- 	<select id="selectEventWinnerList" resultType="eventWinnerBoard"> -->
<!-- 		SELECT * -->
<!-- 		FROM event_winner_board -->
<!-- 		ORDER BY winner_code -->
<!-- 		<if test="!searchType.equals('')"> -->
<!-- 			WHERE -->
<!-- 			<choose> -->
<!-- 				<when test="searchType.equals('subject')"> -->
<!-- 					winner_subject LIKE CONCAT ('%','{#searchKeyword}', '%') -->
<!-- 				</when> -->
<!-- 				<when test="searchType.equals('content')"> -->
<!-- 					winner_content LIKE CONCAT ('%','{#searchKeyword}', '%') -->
<!-- 				</when> -->
<!-- 			</choose> -->
<!-- 		</if> -->
<!-- 		LIMIT  -->
<!-- 			#{startRow} -->
<!-- 			, #{listLimit} -->
			
<!-- 	</select> -->
<!--  이벤트 당첨자 게시물 눌렸을때 해당 게시글 뜨도록  -->
<!--  	<select id="selectEventWinner" resultType="eventWinnerBoard"> -->
<!--  		SELECT * -->
<!--  		FROM event_winner_board -->
<!--  		WHERE winner_code = #{winner_code} -->
<!--  	</select> -->
<!--  이벤트 당첨자 게시물 눌렸을때 조회수 증가  --> 
<!--  	<update id="updateEventWinnerReadCount" > -->
<!--  		<selectKey keyProperty ="winner_views" resultType="int" order="AFTER"> -->
<!--  			SELECT winner_views -->
<!--  			FROM event_winner_board -->
<!--  			WHERE winner_code = #{winner_code} -->
<!--  		</selectKey> -->
<!--  		UPDATE event_winner_board -->
<!--  		SET winner_views = winner_views +1 -->
<!--  		WHERE winner_code = #{winner_code} -->
<!--  	</update> -->
 </mapper>