<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_movie.mapper.MoviePickMapper">

	<!-- 투표 정보 등록 -->
	<insert id="insertVoteInfo">
		INSERT INTO vote_info
		VALUES (
			#{vote_code}
			, #{vote_name}
			, #{start_date}
			, #{end_date}
			, #{vote_movie1}
			, #{vote_movie2}
			, #{vote_movie3}
			, #{vote_movie4}
			, #{vote_movie5}
			, default
		)
	</insert>
	
	<!-- 현재날짜에 해당하는 시즌투표정보 조회 -->
	<select id="selectVoteInfo" resultType="map">
		SELECT *
		FROM vote_info
		WHERE 
			now() BETWEEN start_date AND end_date
	</select>
	
	<!-- 투표 상태 업데이트 -->
	<update id="updateVoteStatus">
		UPDATE vote_info
		SET vote_status = #{vote_status}
		WHERE vote_code = #{vote_code}
	</update>
</mapper>