<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_movie.mapper.MyPageMapper">
<!-- 1. 예매내역 글 전체 가져오기 -->
	<select id="selectReservationListCount" resultType="int">
		SELECT COUNT(*)
		FROM payment JOIN schedule 
		ON payment.schedule_code = schedule.schedule_code
		JOIN movie 
		ON schedule.movie_code = movie.movie_code;
	</select>
<!-- 	예매내역 글 시작번호 끝번호 -->
	<select id="selectReservationList" resultType="map">
		SELECT payment.payment_code, payment.ticket_count, payment.total_amount, payment.total_seat_code, movie.movie_name, schedule.theater_code, schedule.start_time
		FROM payment JOIN schedule 
		ON payment.schedule_code = schedule.schedule_code
		JOIN movie 
		ON schedule.movie_code = movie.movie_code
 		LIMIT 
 			#{startRow}
 			,#{listLimit}
	</select>
<!-- 	예매내역 상세보기 -->
	<select id="selectReservationInfo" resultType="map">
		SELECT payment.payment_code, payment.ticket_count, payment.payment_end_time, payment.total_amount, payment.total_seat_code, movie.movie_name, schedule.theater_code, schedule.start_time
		FROM payment JOIN schedule 
		ON payment.schedule_code = schedule.schedule_code
		JOIN movie 
		ON schedule.movie_code = movie.movie_code;
	</select>
	
<!-- 	예매취소 글 개수 -->
	<select id="selectReservationCancelCount" resultType="int">  
		SELECT refund.refund_status, refund.refund_completed_date, refund.refund_amount, payment.ticket_count, schedule.start_time, movie.movie_name
		FROM refund JOIN payment
		ON refund.payment_code = payment.payment_code
		JOIN schedule
		ON payment.schedule_code = schedule.schedule_code
		JOIN movie 
		ON schedule.movie_code = movie.movie_code;
	</select>
<!-- 	예매취소 글 시작번호 끝번호 -->
	<select id="selectReservationCancel" resultType="map">
		SELECT refund.refund_status, refund.refund_completed_date, refund.refund_amount, payment.ticket_count, schedule.start_time, movie.movie_name
		FROM refund JOIN payment
		ON refund.payment_code = payment.payment_code
		JOIN schedule
		ON payment.schedule_code = schedule.schedule_code
		JOIN movie 
		ON schedule.movie_code = movie.movie_code
		LIMIT 
			#{startRow}
			, #{listLimit}
	</select>
	
<!-- 	2.내가 본 영화 글 전체 가져오기 -->
	<select id="selectWathedMovieCount" resultType="int">
		SELECT COUNT(*)
		FROM movie
		JOIN schedule ON movie.movie_code = schedule.movie_code
		JOIN payment ON schedule.schedule_code = payment.schedule_code
		WHERE
			member_id = 'benddlx'
	</select>
<!-- 	내가 본 영화 시작번호 끝번호 -->
	<select id="selectWatchedMovie" resultType="map">
		SELECT movie.movie_code, movie.movie_name, schedule.start_time, payment.ticket_count
		FROM movie
		JOIN schedule ON movie.movie_code = schedule.movie_code
		JOIN payment ON schedule.schedule_code = payment.schedule_code
		WHERE
			member_id = 'benddlx'
		LIMIT 
			#{startRow}
			, #{listLimit}
	</select>
	<select id="selectWatchedmovieReview" resultType="map">
		SELECT movie.movie_code, movie.movie_name, schedule.start_time, payment.ticket_count
		FROM movie
		JOIN schedule ON movie.movie_code = schedule.movie_code
		JOIN payment ON schedule.schedule_code = payment.schedule_code
		WHERE
			member_id = 'benddlx'
	</select>
<!-- 	리뷰 등록 -->
	<insert id="insertReviewList">
		INSERT INTO review
		VALUES(
			#{review_code} + 1
			, ${movie_code}
			, ${review_content}
			, ${review_writer}
		)
	</insert>
<!-- 	리뷰 총 개수 출력 -->
	<select id="selectReviewListCount" resultType="int">
		SELECT COUNT(*)
		FROM review
	</select>
<!-- 	리뷰 글 시작번호 끝번호 -->
	<select id="selectReviewList" resultType="map">
		SELECT review.*, movie.movie_name
		FROM review
		JOIN movie ON review.movie_code = movie.movie_code
		LIMIT #{startRow}, #{listLimit}
	</select>
	
	<select id="selectIsRegistReview" resultType="map">
		SELECT *
		FROM review
		WHERE movie_code = #{movie_code}
		AND review_writer = #{id}
	</select>
	
	<select id="selectCouponListCount" resultType="int">
		SELECT COUNT(*)
		FROM coupon
	</select>
	<select id="selectCouponList" resultType="map">
		SELECT *
		FROM coupon
		LIMIT #{startRow}, #{listLimit}
	</select>
	<select id="selectPointListCount" resultType="int">
		SELECT COUNT(*)
		FROM point
	</select>
	<select id="selectPointList" resultType="map">
		SELECT *
		FROM point JOIN event_board
		ON point.event_code = event_board.event_code
		LIMIT #{startRow}, #{listLimit}
	</select>
	
<!-- 1:1문의 글 전체 가져오기 -->
 	<select id="selectInquiryListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM Inquiry
	</select>
<!-- 	1:1문의 글 시작번호,끝번호 -->
 	<select id="selectInquiryList" resultType="inquiry">
 		SELECT *
 		FROM Inquiry
 		LIMIT 
 			#{startRow}
 			,#{listLimit}
 	</select>
<!-- 	1:1문의 글 선택 -->
 	<select id="selectInquiry" resultType="inquiry">
 		SELECT *
 		FROM Inquiry
 		WHERE inquiry_code = #{inquiry_code}
 	</select>
<!-- 	1:1문의 글 작성-->
	<insert id="insertInquiry">
	    INSERT INTO Inquiry(
	        inquiry_subject, 
	        inquiry_writer,
	        inquiry_content,
	        inquriy_date,
	        inquiry_writer_ip
	    )
	    VALUES(
	        #{inquiry_subject},
	        #{inquiry_writer},
	        #{inquiry_content},
	        NOW(),
	        #{inquiry_writer_ip}
	    )
	</insert>

<!--  	1:1문의 글 수정  -->
 	<update id="updateInquiry">
 		UPDATE Inquiry
 		SET inquiry_subject = #{inquiry_subject}
 		, inquiry_content = #{inquiry_content}
		WHERE inquiry_code = #{inquiry_code}
 	</update>
<!--  	1:1문의 글 삭제 -->
	<delete id="deleteInquiry">
		DELETE FROM Inquiry
		WHERE inquiry_code = #{inquiry_code}
	</delete>
<!-- 	+==========================여기서부터 관리자 페이지 ================================================ -->
<!-- 공지사항 글 개수 -->
	<select id="selectNoticeListCount" resultType="int">
		SELECT COUNT(*)
		FROM notice_board
	</select>
<!-- 	공지사항 시작번호 끝번호 -->
	<select id="selectNoticeList" resultType="notice_board">
		SELECT *
		FROM notice_board
		LIMIT 
			#{startRow}
			,#{listLimit}
	</select>
<!-- 	공지사항 글 자세히보기 -->
	<select id="selectNotice" resultType="notice_board">
		SELECT *
		FROM notice_board
		WHERE notice_code = #{notice_board}
	</select>
	<insert id="updateNoticeAdmin">
		INSERT INTO notice_board(
		notice_subject
		, notice_content
		, regis_date
		) VALUES(
			#{notice_subject}
			,#{notice_content}
			,NOW()
		)
	</insert>
	<update id="updateNotice">
		UPDATE notice_board
		SET notice_subject = #{notice_subject}
		,notice_content = #{notice_content}
		WHERE notice_code = #{notice_code}
	</update>
	<delete id="deleteNotice">
		DELETE FROM notice_board
		WHERE notice_code = #{notice_code}
	</delete>
<!-- 	faq 글 개수 -->
	<select id="selectFaqListCount" resultType="int">
		SELECT COUNT(*)
		FROM faq_board 
	</select>
<!-- 	faq 글 시작번호 끝번호 -->
	<select id="selectFaqList" resultType="faq_board">
		SELECT *
		FROM faq_board
		LIMIT 
			#{startRow}
			,#{listLimit}
	</select>
<!-- 	FAQ 글 작성 -->
	<insert id="insertFaqAdmin">
		INSERT INTO faq_board(
		faq_subject
		,faq_content
		)VALUES(
			#{faq_subject}
			,#{faq_content}
		)
	</insert>
<!-- 	faq 글 자세히보기 -->
	<select id="selectFaq" resultType="faq_board">
		SELECT *
		FROM faq_board
		WHERE faq_code = #{faq_code}
	</select>
	<update id="updateFaq">
		UPDATE faq_board
		SET faq_subject = #{faq_subject}
			, faq_content = #{faq_content}
		WHERE faq_code = #{faq_code}
	</update>
	<delete id="deleteFaq">
		DELETE 
		FROM faq_board
		WHERE faq_code = #{faq_code}
	</delete>
	<update id="updateInquiryModify">
 		UPDATE Inquiry
 		SET inquiry_subject = #{inquiry_subject}
 		, inquiry_content = #{inquiry_content}
		WHERE inquiry_code = #{inquiry_code}
	</update>
	<delete id="deleteInquiryAdmin">
		DELETE FROM Inquiry
		WHERE inquiry_code = #{inquiry_code}
	</delete>
 </mapper>