<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_movie.mapper.ScheduleMapper">
	
	<!-- schedule 테이블에 스케줄 insert -->
	<insert id="insertSchedule">
		<!-- 스케줄 테이블 insert 작업시 해당 관의 좌석수 입력을 위해 좌서수 select 선행 -->
		<selectKey keyProperty="avail_seat" resultType="int" order="BEFORE">
			SELECT COUNT(*)
			FROM seat
			WHERE theater_code = #{theater_code}
		</selectKey>
	
		INSERT INTO schedule
		VALUES (
			#{schedule_code}
			, #{movie_code}
			, #{str_start_time}
			, #{str_end_time}
			, #{str_next_schedule}
			, #{booking_avail}
			, #{theater_code}
			, #{avail_seat}
			, #{showtime_type}
		)
	</insert>
	
	<select id="selectSchedule" resultType="schedule">
		SELECT *
		FROM schedule
		<if test="howSearch != null and searchKeyword != null"> 
				WHERE ${howSearch} LIKE CONCAT('%', #{searchKeyword}, '%') 
		</if>
		<if test="columnName != null and selectCondition != null">
			WHERE ${columnName} = #{selectCondition}
		</if>
		<if test="columnName2 != null and selectCondition2 != null">
			AND ${columnName2} = #{selectCondition2}
		</if>
	</select>
	
	<!-- schedule 테이블과 movie 테이블 조인 후 상세정보 조회 -->
	<select id="selectScheduleJoinMovie" resultType="map">
		SELECT *
		FROM 
			schedule s
		JOIN
			movie m
		ON
			s.movie_code = m.movie_code
		WHERE
			s.theater_code = #{theater_code}
			AND s.start_time Like '%${select_date}%'
		ORDER BY s.start_time ASC;
	</select>
	
	<!-- 스케줄의 예매상태 변경 -->
	<update id="updateScheduleBookingAvail">
		UPDATE schedule
		SET
			booking_avail = #{booking_avail}
		WHERE
			schedule_code IN (
				<foreach item="schedule_code" collection="scheduleCodeArr" separator=",">
					#{schedule_code}
				</foreach>
			)
	</update>
	
	
	<!-- 스케줄 삭제 -->
	<delete id="deleteSchedule">
		DELETE FROM schedule
		WHERE 
			schedule_code IN (
				<foreach item="schedule_code" collection="scheduleCodeArr" separator=",">
					#{schedule_code}
				</foreach>
			)
	</delete>
	
	<!-- 선택된 달과 상영관의 날짜별 스케줄 수 조회 -->
	<select id="selectScheduleCountOfDay" resultType="map">
		SELECT DAY(start_Time) AS day, COUNT(*) AS count
		FROM schedule
		WHERE theater_code = #{theater_code}
		AND start_time LIKE '%${selectedMonth}%'
		group by day;
	</select>
</mapper>