@charset "UTF-8";

#movieListBody {
    font-family: Arial, sans-serif;
    margin: 30px;
    position: relative;
    height: 650px;
}

#title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 35px;
}

#sec01 div {
    margin-bottom: 10px;
}

#search01 {
    float: left;
}

#search02 {
    float: right;
}

#sec01 input[type="button"] {
    height: 40px;
}

#sec01 select {
    height: 40px;
}

#sec01 input[type="text"] {
    height: 40px;
    padding: 5px;
    width: 200px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	font-size: 14px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

table th {
	background-color: #f4f4f4;
	font-weight: bold;
}

table tr:nth-child(even) {
	background-color: #f9f9f9;
}

table tr:hover {
	background-color: #f1f1f1;
}

table th[colspan] {
	background-color: #e6e6e6;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

#sec02 th input[type="checkbox"] {
    background-color: #f4f4f4;
    transform: scale(1.5);
}

#sec02 td input[type="checkbox"] {
    transform: scale(1.5);
}

#sec02 div {
    text-align: center;
}

#sec02 div input[type=button] {
    margin-top: 10px;
}

#sec03 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

#sec03 div {
    display: flex;
}

#sec03 input[type="button"] {
    margin-right: 5px;
    padding: 5px 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 4% auto; /* 창이 화면 중앙에 위치하도록 설정 */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* 모달 창의 가로 크기 설정 */
    height: 90%; /* 모달 창의 세로 크기 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

.close {
    position: absolute; /* 절대 위치 설정 */
    top: 10px; /* 모달 창 상단에서 10px 떨어짐 */
    right: 10px; /* 모달 창 오른쪽에서 10px 떨어짐 */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal label {
	display: inline-block;
	width: 100px;
	height: 20px;
}

.modal-content form input, .modal-content form select,
.modal-content form textarea, .modal-content form label {
	margin-bottom: 5px;
	margin-right: 5px;
}

.modal-content h2, .modal-contetn form button {
	text-align: center;
}


